<!DOCTYPE html>
<html>
	<!-- Loading Screen GIF -->
	<div class="container" id="loading">
		<div class="jumb">
			<img alt="loading screen" src="{{url_for('static', filename='working-work.gif')}}">
		</div>
    </div>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Input For Receiving Query to this ML -->
    <form action="{{ url_for('predict') }}" method="post">
    	<input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
	<form action="/contact" method="post">
		<h1>Portfolio link</h1>
		<input type="submit" name="Watch portfolio" value="Watch portfolio">
		<!--<button class="btn btn-primary" type="submit">Watch portfolio</button>-->
	</form>
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>

</html>